.parent {
  width: 100%;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
}

.div1 {
  grid-area: 1 / 1 / 5 / 4;
}
.div2 {
  grid-area: 1 / 4 / 3 / 6;
}
.div3 {
  grid-area: 3 / 4 / 5 / 6;
}
.div4 {
  grid-area: 5 / 3 / 9 / 6;
}
.div5 {
  grid-area: 5 / 1 / 7 / 3;
}
.div6 {
  grid-area: 7 / 1 / 9 / 3;
}
.div7 {
  grid-area: 9 / 1 / 13 / 4;
}
.div8 {
  grid-area: 9 / 4 / 11 / 6;
}
.div9 {
  grid-area: 11 / 4 / 13 / 6;
}

.projects-list {
  width: 100%;
}

.card-project {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

.card-project .container{
  width: 100%;
  height: 100%;
}

.card-project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-project-float {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  opacity: 0;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.78) 80%);
  transition: opacity 300ms ease-in-out 0s;
}

.card-project:hover .card-project-float {
  opacity: 1;
}

.card-project .content {
  transform: none;
  transition: transform 300ms ease-in-out 0s;
}

.card-project:hover .content {
  transform: translateY(-10%);
}

.card-project .title {
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
}

.card-project .subtitle {
  color: var(--text-color-2);
  margin: 0;
}

.card-project .list-skills {
  padding: 0;
  color: var(--text-color-2);
  display: flex;
  gap: 5px;
  list-style: none;
  margin: 0;
  font-size: 0.7rem;
}
