.parent {
  width: 100%;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
}

.div1 {
  grid-area: 1 / 1 / 5 / 4;
}
.div2 {
  grid-area: 1 / 4 / 3 / 6;
}
.div3 {
  grid-area: 3 / 4 / 5 / 6;
}
.div4 {
  grid-area: 5 / 3 / 9 / 6;
}
.div5 {
  grid-area: 5 / 1 / 7 / 3;
}
.div6 {
  grid-area: 7 / 1 / 9 / 3;
}
.div7 {
  grid-area: 9 / 1 / 13 / 4;
}
.div8 {
  grid-area: 9 / 4 / 11 / 6;
}
.div9 {
  grid-area: 11 / 4 / 13 / 6;
}
.div10 {
  grid-area: 13 / 3 / 17 / 6;
}
.div11 {
  grid-area: 13 / 1 / 15 / 3;
}
.div12 {
  grid-area: 15 / 1 / 17 / 3;
}

.projects-list {
  width: 100%;
}