---
import { Image } from "astro:assets";

interface Props {
  image: string;
  title: string;
  subtitle: string;
  skills: string[];
  className?: string
}

const { title, subtitle, skills, image,className = "" } = Astro.props;
---

<div class={"card-project"+" "+className}>
    <img 
        src={`https://dlqtlyyjlhuqbdkjhcft.supabase.co/storage/v1/object/public/images/projects/${image}`} 
        alt={title} 
        loading="lazy"
    />
    <div class="card-project-float">
        <div class="content">
            <p class="title">{title}</p>
           {/*<p class="subtitle">{subtitle.length > 50 ? subtitle.slice(0, 50)+"..." : subtitle}</p>*/}
            <ul class="list-skills">
                {
                    skills.map((item,index) => <li>{index !== 0 ? "• " : ""}{item}</li>)
                }
            </ul>
        </div>
    </div>
</div>

<style>

</style>