<footer class="footer">
  <p>Made with ❤️ by JosephSB</p>
  <p>
    © {new Date().getFullYear()} Joseph Silva Bendezu. All Rights Reserved.
  </p>
</footer>

<style>
    .footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem 0;
        text-align: center;
    }
    .footer p{
        margin: 0;
        color: var(--text-color-2);
        font-size: 14px;
    }
</style>