<div class="container-socialLinks">
  <ul class="menu-socialLinks">
    <li>
      <a class="link-socialLinks" href="https://github.com/JosephSB">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
    <li>
      <a class="link-socialLinks" href="https://www.linkedin.com/in/joseph-silva-bendezu-2882a5211/">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a class="link-socialLinks" href="https://www.instagram.com/josep.silvab/">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
  </ul>
</div>

<style>
    .container-socialLinks{
      width: auto;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      position: fixed;
    }
    .menu-socialLinks{
      padding: 0;
      list-style: none;
      background-color: var(--bd-color-2);
      padding: 1rem;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .link-socialLinks{
      color: var(--text-color);
    }

</style>
