---
import HtmlGeneralLayout from "../../layouts/HtmlGeneralLayout.astro";
import DataProjects from "../../data/projects.json";
import CardProject from "../../components/CardProject.astro";
import "../../styles/GridGallery.css";
---

<HtmlGeneralLayout
  description="Projectos de desarrollo web en JavaScript, ReactJS, NextJS, NodeJS de Joseph Silva Bendezu."
  title="My Projects | Joseph Silva Bendezu - Software Engineer, FullStack Developer"
>
  <div class="projects-header">
    <ul class="detail-nav">
      <li>JosephSB&nbsp;<i class="fa-solid fa-angle-right"></i></li>
      <li class="detail-nav-highlight">Mis Proyectos</li>
    </ul>
    <div class="parent">
      {
        DataProjects.map((item, index) => (
          <CardProject
            id={item.id}
            title={item.name}
            className={`div${index + 1}`}
            skills={item.technologies.map((x) => x.name)}
            image={item.portadas[0]}
          />
        ))
      }
    </div>
  </div>
</HtmlGeneralLayout>

<style>
  .projects-header {
    width: 100%;
  }
  .projects-subtitle {
    margin: 5px 0;
    font-family: var(--secondary-font);
    color: var(--text-color);
  }
  .container-gridcards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .detail-nav {
    width: 100%;
    padding: 0;
    margin: 1rem 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    color: var(--text-color);
  }
  .detail-nav-highlight {
    color: var(--primary-color);
    font-family: var(--secondary-font);
  }
</style>
